@import "tailwindcss";

/* Default font except h1/h2 */
body, div,  p, ul, li, h3, h4, h5, h6, button, input, label,Link {
  font-family: 'Lato', sans-serif;
}
body {
  overflow-x: hidden;
}
/* Headings and span */
h1, h2, span,a {
  font-family: 'Kameron', serif;
}
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
/* Add to globals.css or a dedicated stylesheet */

/* Shimmer animation for loading placeholders in blogs */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: calc(200% + 100px) 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar {
  -webkit-overflow-scrolling: touch;
}
html {
  scroll-behavior: smooth;
}
