@import "tailwindcss";

/* Default font for everything except h1 and h2 */
body, div, a, p, span, ul, li, h3, h4, h5, h6, button, input, label {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-family: 'Kameron', serif;
}
.rotate-y-180 {
  transform: rotateY(-180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar {
  -webkit-overflow-scrolling: touch;
}